@model Eshop.Web.Models.Categories.CategoryViewModel

@{
    ViewBag.Title = "Create category";
}




@Html.ValidationSummary()
@Html.AntiForgeryToken()

@Html.LabelFor(x => x.Name)
@Html.TextBoxFor(x => x.Name, new { id = "category-name-input" })

<label><input class="select-category-type" type="radio" name="selectType" value="main"> Main category<br></label>
<label><input class="select-category-type" type="radio" name="selectType" value="sub"> Sub category<br></label>


<input id="create-button" type="submit" value="Create" style="display:none"/>


@section scripts {
    <script>
        $(function() {
            var $selectType = $('input[type=radio].select-category-type');

            $selectType.on('change', function() {
                var checkedValue = $('input[type=radio].select-category-type:checked').val();

                if (checkedValue === "main") {
                    var createButton = $('#create-button');
                    createButton.show();
                } else if (checkedValue === "sub") {

                }

            });

            $('#create-button').on('click', function () {
                var checkedValue = $('input[type=radio].select-category-type:checked').val();
                var parId = null;

                if (checkedValue === "main") {
                    var createButton = $('#create-button');
                    createButton.show();
                } else if (checkedValue === "sub") {
                    parId = $('input[type=radio].sub-categories:checked').val();
                }

                var token = $('input[name="__RequestVerificationToken"]').val();

                var data = {
                    __RequestVerificationToken: token,
                    name: $('#category-name-input').val(),
                    parentId: parId
                }

                $.ajax({
                    url: '/Categories/Add',
                    type: 'POST',
                    data: data,
                    success: function (res) {
                        console.log(res);
                    }, error: function (res) {
                        alert();
                    }
                   
                });

            });
        })

        AddAntiForgeryToken = function (data) {
            data.__RequestVerificationToken = $('#__AjaxAntiForgeryForm input[name=__RequestVerificationToken]').val();
            return data;
        };
    </script>
}
