<section class="parallax-titlebar fullwidth-element" data-background="#000" data-opacity="0.45" data-height="160">

    <img src="~/Content/Theme/images/titlebar_bg_01.jpg" alt="" />
    <div class="parallax-overlay"></div>


    <div class="parallax-content">
        <h2>Shop <span>International Shipping</span></h2>

        <nav id="breadcrumbs">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Shop</a></li>
                <li>Products</li>
            </ul>
        </nav>
    </div>

</section>