@using Eshop.Web.Models

@model Eshop.Web.Models.Categories.CategoriesTreeModel

<nav id="menu" class="both">
    <ul class="nav clearfix">
        @{
            Html.RenderPartial("_CategoriesRecursion", Model);
        }
    </ul>
 


</nav>

